* {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    

}

nav ul li a {
    text-decoration: none;
    margin-left: 35px;
    color: #646464;;
    padding: 5px;
    transition: color 0.5s, background-color 0.5s;

}

nav {
    background-color: #272727;
    
}

nav ul {
    text-align: center;

}

nav ul li a:hover {
    background-color: #646464;
    color: #ffffff;

}

.background-img {
    width: 100%;
    height: 701px;
}


h1 {
    position: absolute;
    top: 350px;
    left: 715px;
    font-size: 50px;
}

.survey {
    margin: 20px;
    width: 47%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    float: left;
    transition: box-shadow 0.2s;
}

.survey-body {
    padding: 11px 15px;
}

.survey-title {
    margin-bottom: 10px;
   
}

.survey-text {

    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0);
    font-size: 20px;

}

.card {
    margin-left: 150px;
    margin-bottom: 25px;
    width: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    float: left;
    transition: box-shadow 0.2s;
}

.card-body {
    padding: 11px 15px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 35px
}

::-webkit-scrollbar {

    width: 7px;

}


::-webkit-scrollbar-thumb {

    background-color: #272727;
    border-radius: 4px;
    

}


  